<div class="input-group mb-3">
    <input type="text" disabled class="form-control" placeholder="<%- task.text %>" aria-label="Text input with checkbox">
    <form class="row g-1 needs-validation" action="/claim" method="post">
        <input type="hidden" name="taskID" value="<%- task.id %>" >
        <input type="hidden" name="username" value="<%=username%>" >
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Claim</button>
    </form>
</div>